.card-overlay {
    border-radius: var(--border-radius-base);
    height: 0;
    padding-bottom: 100%;
    position: relative;
    color: var(--color-base-white);
    display: block;
    overflow: hidden
}

.card-overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 2rem;
    z-index: 2;
    height: 5px;
    width: 42px;
    background: rgba(var(--color-accent-2))
}

.card-overlay:after {
    content: "";
    pointer-events: none;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-base)
}

.settings-remove-ribbons-true .card-overlay:before {
    display: none
}

.collection .card-overlay {
    height: 100%;
    padding-bottom: 100%
}

.card-overlay.card-overlay-off:before,
.card-overlay.card-overlay-off:after {
    content: none
}

@media(max-width:749px) {
    .product-grid .card-overlay,
    .product-grid .card-overlay .card-overlay-media {
        border-radius: 0
    }
}

@media(min-width:990px) {
    .card-overlay:before {
        left: min(10%, 3rem)
    }
}

@media(min-width:750px) {
    .grid-1-col-desktop .card-overlay {
        padding-bottom: 48.5%
    }
}

@media(min-width:750px) {
    .grid-1-col-desktop .card-overlay {
        padding-bottom: 38.5%
    }
}

@media(min-width:1200px) {
    .grid-1-col-desktop .card-overlay {
        padding-bottom: 33.333%
    }
}

@media(min-width:990px) {
    .grid-2-col-desktop .card-overlay {
        padding-bottom: 75%
    }
}

@media(min-width:1200px) {
    .grid-2-col-desktop .card-overlay {
        padding-bottom: 50%
    }
}

.grid-4-col-tablet .grid-2-col-desktop .card-overlay {
    padding-bottom: 56.7%
}

@media(min-width:750px) {
    .card-overlay.card-height-half {
        padding-bottom: 75%
    }
}

@media(min-width:1200px) {
    .card-overlay.card-height-half {
        padding-bottom: 50%
    }
}

.card-overlay>svg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--border-radius-base)
}

.card-overlay-media {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--border-radius-base)
}

svg.card-overlay-media {
    fill: rgba(var(--color-foreground))
}

.card-overlay.card-overlay-custom-ratio {
    padding-bottom: max(var(--ratio-percent), 100%);
    height: auto
}

@media(min-width:750px) {
    .card-overlay.card-overlay-custom-ratio {
        padding-bottom: var(--ratio-percent)
    }
}

.card-overlay-ratio-adapt .card-overlay-media {
    height: auto;
    position: relative
}

.card-overlay-info {
    position: absolute;
    padding: 2rem;
    bottom: 0;
    left: 0;
    width: 100%;
    color: currentColor;
    z-index: 1;
    pointer-events: none
}

.card-overlay-info:empty {
    display: none
}

.card-overlay-info[class*=content-align] {
    height: 100%
}

.card-overlay-info>:last-child {
    margin-bottom: 0
}

@media(min-width:990px) {
    .card-overlay-info {
        padding: 2.5rem;
        pointer-events: auto
    }
    .card-pointer-all .card-overlay-info {
        pointer-events: none
    }
}

@media(min-width:1200px) {
    .card-overlay-info {
        padding: 3rem
    }
    .grid-compact .card-overlay-info {
        padding: 1.5rem
    }
}

.card-overlay-heading {
    font-size: calc(var(--font-heading-scale) * 1.8rem);
    margin-bottom: 1rem;
    color: currentColor;
    text-align: start
}

.card-overlay-sm .card-overlay-heading {
    font-size: calc(var(--font-heading-scale) * 1.5rem);
    font-weight: 700
}

.card-overlay-heading a {
    color: currentColor
}

.card-overlay-heading:last-child {
    margin-bottom: 0
}

.card-overlay-heading-sm {
    font-size: calc(var(--font-heading-scale) * 1.6rem)
}

.card-overlay-heading-md {
    font-size: calc(var(--font-heading-scale) * 1.8rem)
}

.card-overlay-heading-lg {
    font-size: calc(var(--font-heading-scale) * 2rem)
}

.card-overlay-heading-xl {
    font-size: calc(var(--font-heading-scale) * 2.4rem)
}

.card-overlay-heading-xxl {
    font-size: calc(var(--font-heading-scale) * 2.8rem)
}

@media(min-width:990px) {
    .card-overlay-heading {
        font-size: calc(var(--font-heading-scale) * 2.2rem)
    }
    .card-overlay-heading-desktop-sm {
        font-size: calc(var(--font-heading-scale) * 2rem)
    }
    .card-overlay-heading-desktop-md {
        font-size: calc(var(--font-heading-scale) * 2.2rem)
    }
    .card-overlay-heading-desktop-lg {
        font-size: calc(var(--font-heading-scale) * 2.4rem)
    }
    .card-overlay-heading-desktop-xl {
        font-size: calc(var(--font-heading-scale) * 2.6rem)
    }
    .card-overlay-heading-desktop-xxl {
        font-size: calc(var(--font-heading-scale) * 3rem)
    }
}

.card-overlay-caption {
    font-size: calc(var(--font-body-scale) * 1.5rem);
    line-height: 1.2;
    margin-bottom: 2.5rem
}

.card-overlay-caption>:last-child {
    margin-bottom: 0
}

.card-overlay-caption a {
    color: currentColor;
    text-decoration: underline;
    text-underline-offset: .3rem;
    text-decoration-thickness: .1rem
}

.card-overlay-caption a:hover {
    text-decoration-thickness: .2rem
}

@media(min-width:990px) {
    .card-overlay-caption {
        max-width: 430px
    }
}

.card-overlay-info .button-text-link {
    color: currentColor
}

.card-overlay-video-background .video-background-player {
    container-type: size
}

.card-overlay-video-background .video-background-player iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%
}

@container (min-aspect-ratio: 16/9) {
    .card-overlay-video-background .video-background-player iframe {
        height: 56.25cqw
    }
}

@container (max-aspect-ratio: 16/9) {
    .card-overlay-video-background .video-background-player iframe {
        width: 177.78cqh
    }
}

.card-overlay-fixed-media {
    padding-bottom: 0;
    height: 100%;
    min-height: 220px;
    display: flex;
    flex-direction: column
}

.collage .card-overlay-fixed-media:not(:only-of-type) {
    padding-bottom: 0
}

.card-overlay-fixed-media>a {
    display: block;
    height: 100%
}

.card-overlay-fixed-media .card-overlay-info {
    pointer-events: auto
}

.card-overlay-fixed-media a:before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

@media(min-width:750px) {
    .card-overlay-fixed-media {
        min-height: 260px
    }
}

@media(min-width:990px) {
    .card-overlay-fixed-media:not(.card-pointer-all) a:before {
        display: none
    }
}

.card-overlay-fixed-media .card-overlay-info {
    position: relative;
    height: 100%;
    flex: auto
}

.card-overlay-fixed-media:before {
    display: none
}

.card-overlay-fixed-media-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex
}

.card-overlay-fixed-media-wrap .card-overlay-media {
    width: 180px;
    height: auto;
    position: relative
}

@media(min-width:990px) {
    .card-overlay-fixed-media-wrap .card-overlay-media {
        width: 220px
    }
    .grid.grid-carousel .grid-item>.card-overlay-fixed-media {
        overflow: hidden
    }
}

.card-product-list-heading.card-overlay-auto-fit,
.grid-1-col-desktop .card-product-list-heading.card-overlay-auto-fit,
.grid-2-col-desktop .card-product-list-heading.card-overlay-auto-fit {
    height: auto;
    padding: 0
}

.card-product-list-heading .card-overlay-info {
    z-index: 1;
    padding: 2rem
}

.card-product-list-heading.card-overlay-auto-fit .card-overlay-info {
    position: relative;
    z-index: 1;
    padding-top: 4rem
}

.card-product-list-heading+.card-product-media {
    margin-top: 3rem
}

.card-product-list-heading .card-overlay-heading {
    font-size: calc(var(--font-heading-scale) * 1.8rem)
}

.card-product-list-heading .card-overlay-caption {
    font-size: calc(var(--font-body-scale) * 1.4rem)
}

.card-product-list-heading:before {
    left: 2rem
}

.card-product-list .card-product-media {
    border: 0;
    padding-bottom: 0
}

.card-product-list .card-product-media:last-child {
    margin-bottom: 0
}

.card-product-list .card-product-media .badge-stock {
    font-size: calc(var(--font-body-scale) * 1.1rem)
}

.card-product-list .card-product-media .card-media .card-badge.left {
    inset-inline-start: -.5rem
}

.card-product-list .card-product-media .card-media .card-badge.top {
    top: -.8rem
}

@media(min-width:990px) {
    .card-product-list .card-product-media .card-media {
        width: 10rem
    }
}

/*# sourceMappingURL=/cdn/shop/t/76/assets/component-card-overlay.css.map?v=161236396453744029751787801425 */