.pill-nav {
    display: flex;
    align-items: center;
    padding-left: 1px
}

.setting-buttons-outline .pill-nav {
    grid-column-gap: .1rem
}

.pill-nav-item {
    flex: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 1.5rem;
    cursor: pointer;
    border: none;
    text-decoration: none;
    height: auto;
    font-size: calc(var(--font-body-scale) * 1.5rem);
    line-height: calc(1 + .2 / var(--font-body-scale));
    background: rgba(var(--color-aux-background));
    color: rgba(var(--color-aux-foreground));
    box-shadow: 0 0 0 .1rem rgba(var(--color-aux-border)), 0 2px rgba(var(--color-aux-box-shadow));
    position: relative;
    font-family: var(--font-buttons-family);
    transition: all .3s ease
}

.setting-buttons-outline .pill-nav-item {
    background-color: transparent;
    color: currentColor
}

.setting-buttons-size-sm .pill-nav-item {
    padding: 1.2rem 1.5rem;
    font-size: calc(var(--font-body-scale) * 1.3rem)
}

.setting-buttons-size-lg .pill-nav-item {
    padding: 1.3rem 2.2rem;
    font-size: calc(var(--font-body-scale) * 1.7rem)
}

@media(min-width:990px) {
    .pill-nav-item {
        padding: 1.2rem 2.5rem
    }
}

.pill-nav-item:hover:not(.pill-nav-item-disabled) {
    box-shadow: 0 0 0 .2rem rgba(var(--color-aux-border)), 0 2px rgba(var(--color-aux-box-shadow));
    z-index: 2
}

.pill-nav-item.is-active,
.pill-nav-item.is-active:hover {
    background-color: rgba(var(--color-button));
    color: rgba(var(--color-button-text));
    box-shadow: 0 0 0 .1rem rgba(var(--color-button)), 0 2px rgba(var(--color-aux-box-shadow));
    z-index: 2
}

.setting-buttons-outline .pill-nav-item.is-active {
    background: transparent;
    color: rgba(var(--color-button));
    box-shadow: 0 0 0 .1rem rgba(var(--color-button)), 0 2px rgba(var(--color-aux-box-shadow))
}

.setting-buttons-outline .pill-nav-item:hover.is-active {
    box-shadow: 0 0 0 .2rem rgba(var(--color-button)), 0 2px rgba(var(--color-aux-box-shadow))
}

.setting-buttons-outline [class^=color-accent] .pill-nav-item.is-active {
    background-color: rgba(var(--color-aux-background));
    color: rgba(var(--color-aux-foreground))
}

.pill-nav-item:first-child {
    border-top-left-radius: var(--buttons-radius);
    border-bottom-left-radius: var(--buttons-radius)
}

[dir=rtl] .pill-nav-item:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: var(--buttons-radius);
    border-bottom-right-radius: var(--buttons-radius)
}

.pill-nav-item:last-child {
    border-top-right-radius: var(--buttons-radius);
    border-bottom-right-radius: var(--buttons-radius)
}

[dir=rtl] .pill-nav-item:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: var(--buttons-radius);
    border-bottom-left-radius: var(--buttons-radius)
}

.pill-nav-item-disabled {
    cursor: not-allowed
}

.pill-nav-item-disabled>* {
    opacity: .5
}

.pill-nav-slider .pill-nav-item {
    padding: 1.2rem 1.6rem
}

.setting-buttons-size-sm .pill-nav-slider .pill-nav-item {
    padding: 1.2rem 1.4rem
}

.setting-buttons-size-lg .pill-nav-slider .pill-nav-item {
    padding: 1.5rem 1.9rem
}

.pill-nav-slider-inline-nav {
    opacity: 0;
    transition: opacity .18s ease
}

.pill-nav-slider-inline-nav .pill-nav-item {
    position: absolute;
    top: 50%;
    z-index: 5;
    border-radius: var(--buttons-radius);
    background: rgba(var(--color-aux-background));
    color: rgba(var(--color-aux-foreground))
}

.pill-nav-slider-inline-nav .pill-nav-item-prev {
    inset-inline-start: 0;
    transform: translate(-1rem) translateY(calc(-50% - 10px))
}

[dir=rtl] .pill-nav-slider-inline-nav .pill-nav-item-prev {
    transform: translate(1rem) translateY(calc(-50% - 10px))
}

.pill-nav-slider-inline-nav .pill-nav-item-next {
    inset-inline-end: 0;
    transform: translate(1rem) translateY(calc(-50% - 10px))
}

[dir=rtl] .pill-nav-slider-inline-nav .pill-nav-item-next {
    transform: translate(-1rem) translateY(calc(-50% - 10px))
}

.pill-nav-slider-offset-negative .pill-nav-item-prev {
    transform: translate(-1rem) translateY(calc(-50% - 2rem - 10px))
}

[dir=rtl] .pill-nav-slider-offset-negative .pill-nav-item-prev,
.pill-nav-slider-offset-negative .pill-nav-item-next {
    transform: translate(1rem) translateY(calc(-50% - 2rem - 10px))
}

[dir=rtl] .pill-nav-slider-offset-negative .pill-nav-item-next {
    transform: translate(-1rem) translateY(calc(-50% - 2rem - 10px))
}

/*# sourceMappingURL=/cdn/shop/t/76/assets/component-pills.css.map?v=59579235200870411781787801425 */