abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    word-break: break-word
}

body {
    line-height: 1
}

body.font-lato {
    font-family: Lato, Open Sans, sans-serif !important
}

body.tawk-rtl {
    direction: rtl;
    overflow: hidden
}

@media(min-width:768px)and (max-width:1024px) {
    body.tawk-mobile,
    html.tawk-mobile {
        font-size: 22px !important
    }
}

@media(min-width:481px)and (max-width:767px) {
    body.tawk-mobile,
    html.tawk-mobile {
        font-size: 18px !important
    }
}

@media(max-width:480px) {
    body.tawk-mobile,
    html.tawk-mobile {
        font-size: 18px !important
    }
}

* {
    font-family: inherit
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

nav ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

a {
    background: transparent;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

ins,
mark {
    background-color: #ff9;
    color: #000
}

mark {
    font-style: italic;
    font-weight: 700
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

body,
html {
    background: transparent;
    height: 100%;
    line-height: 1;
    font: 400 16px Helvetica, sans-serif !important;
    position: relative;
    width: 100%
}

body.font-lato,
html.font-lato {
    font: 400 16px Lato, sans-serif !important
}

.clear {
    clear: both
}

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden
}

.clearfix {
    display: inline-block
}

* html .clearfix {
    height: 1%
}

.clearfix {
    display: block
}

@font-face {
    font-display: swap;
    font-family: tawk-font-icon;
    font-style: normal;
    font-weight: 400;
    src: url(https://embed.tawk.to/_s/v4/assets/fonts/tawk-font-icon-3.woff?55755728) format("woff"), url(https://embed.tawk.to/_s/v4/assets/fonts/tawk-font-icon-3.ttf?55755728) format("truetype"), url(https://embed.tawk.to/_s/v4/assets/fonts/tawk-font-icon-3.svg?55755728#tawk-font-icon) format("svg")
}

@font-face {
    font-family: tawk-icon;
    font-style: normal;
    font-weight: 400;
    src: url(https://embed.tawk.to/_s/v4/assets/fonts/tawk-font-icon-3.woff?55755728) format("woff"), url(https://embed.tawk.to/_s/v4/assets/fonts/tawk-font-icon-3.ttf?55755728) format("truetype"), url(https://embed.tawk.to/_s/v4/assets/fonts/tawk-font-icon-3.svg?55755728#tawk-font-icon) format("svg")
}

.tawk-icon {
    font-family: tawk-icon !important
}

.tawk-icon :not([fill]) {
    fill: none
}

.tawk-call {
    background-color: #fff;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    padding: 60px 20px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 9000
}

.tawk-call-header {
    flex: 2
}

.tawk-call-footer {
    flex: 1
}

.tawk-call-accept {
    width: 100%
}

.tawk-call-decline {
    width: 80%
}

.tawk-flex {
    display: flex !important
}

.tawk-flex-inline {
    display: inline-flex
}

.tawk-flex-inline:after,
.tawk-flex-inline:before,
.tawk-flex:after,
.tawk-flex:before {
    display: none
}

.tawk-flex-left {
    justify-content: flex-start
}

.tawk-flex-center {
    justify-content: center
}

.tawk-flex-right {
    justify-content: flex-end
}

.tawk-flex-between {
    justify-content: space-between
}

.tawk-flex-around {
    justify-content: space-around
}

@media screen and (min-width:640px) {
    .tawk-flex-left\@s {
        justify-content: flex-start
    }
    .tawk-flex-center\@s {
        justify-content: center
    }
    .tawk-flex-right\@s {
        justify-content: flex-end
    }
    .tawk-flex-between\@s {
        justify-content: space-between
    }
    .tawk-flex-around\@s {
        justify-content: space-around
    }
}

@media screen and (min-width:960px) {
    .tawk-flex-left\@m {
        justify-content: flex-start
    }
    .tawk-flex-center\@m {
        justify-content: center
    }
    .tawk-flex-right\@m {
        justify-content: flex-end
    }
    .tawk-flex-between\@m {
        justify-content: space-between
    }
    .tawk-flex-around\@m {
        justify-content: space-around
    }
}

@media screen and (min-width:1200px) {
    .tawk-flex-left\@l {
        justify-content: flex-start
    }
    .tawk-flex-center\@l {
        justify-content: center
    }
    .tawk-flex-right\@l {
        justify-content: flex-end
    }
    .tawk-flex-between\@l {
        justify-content: space-between
    }
    .tawk-flex-around\@l {
        justify-content: space-around
    }
}

@media screen and (min-width:1600px) {
    .tawk-flex-left\@xl {
        justify-content: flex-start
    }
    .tawk-flex-center\@xl {
        justify-content: center
    }
    .tawk-flex-right\@xl {
        justify-content: flex-end
    }
    .tawk-flex-between\@xl {
        justify-content: space-between
    }
    .tawk-flex-around\@xl {
        justify-content: space-around
    }
}

.tawk-flex-stretch {
    align-items: stretch
}

.tawk-flex-top {
    align-items: flex-start
}

.tawk-flex-middle {
    align-items: center
}

.tawk-flex-bottom {
    align-items: flex-end
}

.tawk-flex-row {
    flex-direction: row
}

.tawk-flex-row-reverse {
    flex-direction: row-reverse
}

.tawk-flex-column {
    flex-direction: column
}

.tawk-flex-column-reverse {
    flex-direction: column-reverse
}

.tawk-flex-nowrap {
    flex-wrap: nowrap
}

.tawk-flex-wrap {
    flex-wrap: wrap
}

.tawk-flex-wrap-reverse {
    flex-wrap: wrap-reverse
}

.tawk-flex-wrap-stretch {
    align-content: stretch
}

.tawk-flex-wrap-top {
    align-content: flex-start
}

.tawk-flex-wrap-middle {
    align-content: center
}

.tawk-flex-wrap-bottom {
    align-content: flex-end
}

.tawk-flex-wrap-between {
    align-content: space-between
}

.tawk-flex-wrap-around {
    align-content: space-around
}

.tawk-flex-first {
    order: -1
}

.tawk-flex-last {
    order: 99
}

@media screen and (min-width:640px) {
    .tawk-flex-first\@s {
        order: -1
    }
    .tawk-flex-last\@s {
        order: 99
    }
}

@media screen and (min-width:960px) {
    .tawk-flex-first\@m {
        order: -1
    }
    .tawk-flex-last\@m {
        order: 99
    }
}

@media screen and (min-width:1200px) {
    .tawk-flex-first\@l {
        order: -1
    }
    .tawk-flex-last\@l {
        order: 99
    }
}

@media screen and (min-width:1600px) {
    .tawk-flex-first\@xl {
        order: -1
    }
    .tawk-flex-last\@xl {
        order: 99
    }
}

.tawk-flex-none {
    flex: none
}

.tawk-flex-auto {
    flex: auto
}

.tawk-flex-1 {
    flex: 1
}

.tawk-margin {
    margin-bottom: 1.5rem !important
}

*+.tawk-margin,
.tawk-margin-top {
    margin-top: 1.5rem !important
}

.tawk-margin-bottom {
    margin-bottom: 1.5rem !important
}

.tawk-margin-left {
    margin-left: 1.5rem !important
}

.tawk-margin-right {
    margin-right: 1.5rem !important
}

body.tawk-rtl .tawk-margin-left {
    margin-left: auto !important;
    margin-right: 1.5rem !important
}

body.tawk-rtl .tawk-margin-right {
    margin-left: 1.5rem !important;
    margin-right: auto !important
}

.tawk-margin-xsmall {
    margin-bottom: .6rem !important
}

*+.tawk-margin-xsmall,
.tawk-margin-xsmall-top {
    margin-top: .6rem !important
}

.tawk-margin-xsmall-bottom {
    margin-bottom: .6rem !important
}

.tawk-margin-xsmall-left {
    margin-left: .6rem !important
}

.tawk-margin-xsmall-right {
    margin-right: .6rem !important
}

body.tawk-rtl .tawk-margin-xsmall-left {
    margin-left: auto !important;
    margin-right: .6rem !important
}

body.tawk-rtl .tawk-margin-xsmall-right {
    margin-left: .6rem !important;
    margin-right: auto !important
}

.tawk-margin-small {
    margin-bottom: 1rem !important
}

*+.tawk-margin-small,
.tawk-margin-small-top {
    margin-top: 1rem !important
}

.tawk-margin-small-bottom {
    margin-bottom: 1rem !important
}

.tawk-margin-small-left {
    margin-left: 1rem !important
}

.tawk-margin-small-right {
    margin-right: 1rem !important
}

body.tawk-rtl .tawk-margin-small-left {
    margin-left: auto !important;
    margin-right: 1rem !important
}

body.tawk-rtl .tawk-margin-small-right {
    margin-left: 1rem !important;
    margin-right: auto !important
}

.tawk-margin-medium {
    margin-bottom: 2rem !important
}

*+.tawk-margin-medium,
.tawk-margin-medium-top {
    margin-top: 2rem !important
}

.tawk-margin-medium-bottom {
    margin-bottom: 2rem !important
}

.tawk-margin-medium-left {
    margin-left: 2rem !important
}

.tawk-margin-medium-right {
    margin-right: 2rem !important
}

body.tawk-rtl .tawk-margin-medium-left {
    margin-left: auto !important;
    margin-right: 2rem !important
}

body.tawk-rtl .tawk-margin-medium-right {
    margin-left: 2rem !important;
    margin-right: auto !important
}

.tawk-margin-large {
    margin-bottom: 2rem !important
}

*+.tawk-margin-large,
.tawk-margin-large-top {
    margin-top: 2rem !important
}

.tawk-margin-large-bottom {
    margin-bottom: 2rem !important
}

.tawk-margin-large-left {
    margin-left: 2rem !important
}

.tawk-margin-large-right {
    margin-right: 2rem !important
}

body.tawk-rtl .tawk-margin-large-left {
    margin-left: auto !important;
    margin-right: 2rem !important
}

body.tawk-rtl .tawk-margin-large-right {
    margin-left: 2rem !important;
    margin-right: auto !important
}

@media screen and (min-width:1200px) {
    .tawk-margin-large {
        margin-bottom: 2.5rem !important
    }
    *+.tawk-margin-large,
    .tawk-margin-large-top {
        margin-top: 2.5rem !important
    }
    .tawk-margin-large-bottom {
        margin-bottom: 2.5rem !important
    }
    .tawk-margin-large-left {
        margin-left: 2.5rem !important
    }
    .tawk-margin-large-right {
        margin-right: 2.5rem !important
    }
}

.tawk-margin-xlarge {
    margin-bottom: 2.5rem !important
}

*+.tawk-margin-xlarge,
.tawk-margin-xlarge-top {
    margin-top: 2.5rem !important
}

.tawk-margin-xlarge-bottom {
    margin-bottom: 2.5rem !important
}

.tawk-margin-xlarge-left {
    margin-left: 2.5rem !important
}

.tawk-margin-xlarge-right {
    margin-right: 2.5rem !important
}

body.tawk-rtl .tawk-margin-xlarge-left {
    margin-left: auto !important;
    margin-right: 2.5rem !important
}

body.tawk-rtl .tawk-margin-xlarge-right {
    margin-left: 2.5rem !important;
    margin-right: auto !important
}

@media screen and (min-width:1200px) {
    .tawk-margin-xlarge {
        margin-bottom: 3rem !important
    }
    *+.tawk-margin-xlarge,
    .tawk-margin-xlarge-top {
        margin-top: 3rem !important
    }
    .tawk-margin-xlarge-bottom {
        margin-bottom: 3rem !important
    }
    .tawk-margin-xlarge-left {
        margin-left: 3rem !important
    }
    .tawk-margin-xlarge-right {
        margin-right: 3rem !important
    }
}

.tawk-margin-remove {
    margin: 0 !important
}

.tawk-margin-remove-top {
    margin-top: 0 !important
}

.tawk-margin-remove-bottom {
    margin-bottom: 0 !important
}

.tawk-margin-remove-left {
    margin-left: 0 !important
}

.tawk-margin-remove-right {
    margin-right: 0 !important
}

.tawk-margin-remove-vertical {
    margin-bottom: 0 !important;
    margin-top: 0 !important
}

.tawk-margin-remove-adjacent+* {
    margin-top: 0 !important
}

body.tawk-rtl .tawk-magin-remove-left {
    margin-left: auto !important;
    margin-right: 0 !important
}

body.tawk-rtl .tawk-margin-remove-right {
    margin-left: 0 !important;
    margin-right: auto !important
}

.tawk-margin-auto {
    margin-left: auto !important;
    margin-right: auto !important
}

.tawk-margin-auto-top {
    margin-top: auto !important
}

.tawk-margin-auto-bottom {
    margin-bottom: auto !important
}

.tawk-margin-auto-left {
    margin-left: auto !important
}

.tawk-margin-auto-right {
    margin-right: auto !important
}

.tawk-margin-auto-vertical {
    margin-bottom: auto !important;
    margin-top: auto !important
}

body.tawk-rtl .tawk-magin-remove-left {
    margin-left: 0 !important;
    margin-right: auto !important
}

body.tawk-rtl .tawk-margin-remove-right {
    margin-left: auto !important;
    margin-right: 0 !important
}

.tawk-padding {
    padding: 1rem !important
}

.tawk-padding-top {
    padding-top: 1rem !important
}

.tawk-padding-left {
    padding-left: 1rem !important
}

.tawk-padding-bottom {
    padding-bottom: 1rem !important
}

.tawk-padding-right {
    padding-right: 1rem !important
}

@media screen and (min-width:1200px) {
    .tawk-padding {
        padding: 2rem !important
    }
    .tawk-padding-top {
        padding-top: 2rem !important
    }
    .tawk-padding-left {
        padding-left: 2rem !important
    }
    .tawk-padding-bottom {
        padding-bottom: 2rem !important
    }
    .tawk-padding-right {
        padding-right: 2rem !important
    }
}

.tawk-padding-small {
    padding: .6rem !important
}

.tawk-padding-small-top {
    padding-top: .6rem !important
}

.tawk-padding-small-left {
    padding-left: .6rem !important
}

.tawk-padding-small-bottom {
    padding-bottom: .6rem !important
}

.tawk-padding-small-right {
    padding-right: .6rem !important
}

.tawk-padding-large {
    padding: 1rem !important
}

.tawk-padding-large-top {
    padding-top: 1rem !important
}

.tawk-padding-large-left {
    padding-left: 1rem !important
}

.tawk-padding-large-bottom {
    padding-bottom: 1rem !important
}

.tawk-padding-large-right {
    padding-top: 1rem !important
}

@media screen and (min-width:1200px) {
    .tawk-padding-large {
        padding: 2.5rem !important
    }
    .tawk-padding-large-top {
        padding-top: 2.5rem !important
    }
    .tawk-padding-large-left {
        padding-left: 2.5rem !important
    }
    .tawk-padding-large-bottom {
        padding-bottom: 2.5rem !important
    }
    .tawk-padding-large-right {
        padding-top: 2.5rem !important
    }
}

.tawk-padding-remove {
    padding: 0 !important
}

.tawk-padding-remove-top {
    padding-top: 0 !important
}

.tawk-padding-remove-bottom {
    padding-bottom: 0 !important
}

.tawk-padding-remove-left {
    padding-left: 0 !important
}

.tawk-padding-remove-right {
    padding-right: 0 !important
}

.tawk-padding-remove-vertical {
    padding-bottom: 0 !important;
    padding-top: 0 !important
}

.tawk-padding-remove-horizontal {
    padding-left: 0 !important;
    padding-right: 0 !important
}

body.tawk-rtl .tawk-padding-remove-left {
    padding-left: auto !important;
    padding-right: 0 !important
}

body.tawk-rtl .tawk-padding-remove-right {
    padding-left: 0 !important;
    padding-right: auto !important
}

:root {
    --tawk-header-background-color: #03a84e;
    --tawk-header-text-color: #fff
}

html {
    background: transparent;
    color: #242424;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.618;
    scroll-behavior: smooth
}

body {
    margin: 0
}

a:active,
a:hover {
    outline: none
}

a:focus {
    outline: 1px solid #06f
}

.tawk-link,
a {
    cursor: pointer
}

.tawk-link,
.tawk-link:hover,
a,
a:hover {
    color: #03a84e;
    text-decoration: underline
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline
}

b,
strong {
    font-weight: bolder
}

:not(pre)>code,
:not(pre)>kbd,
:not(pre)>samp {
    color: #bf1212;
    font-family: Lato, sans-serif;
    font-size: .812rem;
    white-space: nowrap
}

em {
    color: #bf1212
}

ins {
    background: #ffd;
    color: #121212;
    text-decoration: none
}

mark {
    background: rgba(109, 55, 218, .1);
    color: #03a84e
}

q {
    font-style: italic
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: .25em
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle
}

audio,
canvas,
img,
video {
    box-sizing: border-box;
    height: auto;
    max-width: 100%
}

svg:not(:root) {
    overflow: hidden
}

img:not([src]) {
    visibility: hidden
}

address,
dl,
fieldset,
figure,
ol,
p,
pre,
ul {
    margin: 0
}

*+address,
*+dl,
*+fieldset,
*+figure,
*+ol,
*+p,
*+pre,
*+ul {
    margin-top: 0
}

*+.tawk-h1,
*+.tawk-h2,
*+.tawk-h3,
*+.tawk-h4,
*+.tawk-h5,
*+.tawk-h6,
*+h1,
*+h2,
*+h3,
*+h4,
*+h5,
*+h6 {
    margin-top: 1.5rem
}

.tawk-h1,
h1 {
    font-size: 1.7rem;
    line-height: 1.2
}

.tawk-h2,
h2 {
    font-size: 1.275rem;
    font-weight: 400;
    line-height: 1.3
}

.tawk-h3,
h3 {
    font-size: 1.093rem;
    font-weight: 400;
    line-height: 1.4
}

.tawk-h4,
h4 {
    font-size: .937rem;
    line-height: 1.4
}

.tawk-h5,
h5 {
    font-size: 16px;
    line-height: 1.4
}

.tawk-h6,
h6 {
    font-size: .812rem;
    line-height: 1.4
}

@media(min-width:960px) {
    .tawk-h1,
    h1 {
        font-size: 2rem
    }
    .tawk-h2,
    h2 {
        font-size: 1.5rem
    }
}

ol,
ul {
    padding-left: 2rem
}

ol>li>ol,
ol>li>ul,
ul>li>ol,
ul>li>ul {
    margin-top: 0
}

dt {
    font-weight: 800
}

dd {
    margin-left: 0
}

.tawk-hr,
hr {
    border: 0;
    border-top: 1px solid #242424;
    box-sizing: content-box;
    height: 0;
    margin: 0 0 1rem;
    overflow: visible;
    text-align: inherit
}

*+.tawk-hr,
*+hr {
    margin-top: 1rem
}

.tawk-hr.tawk-hr-dashed {
    border-style: dashed
}

address {
    font-size: normal
}

blockquote {
    font-size: .937rem;
    font-style: italic;
    line-height: 1.5;
    margin: 0 0 1rem
}

*+blockquote {
    margin-top: 1rem
}

blockquote p:last-of-type {
    margin-bottom: 0
}

blockquote footer {
    font-size: .812rem;
    line-height: 1.5;
    margin-top: .6rem
}

pre {
    color: #121212;
    font: .812rem/1.5 Lato, sans-serif;
    overflow: auto;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4
}

pre code {
    font-family: Lato, sans-serif
}

::-moz-selection {
    background: #03a84e;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #03a84e;
    color: #fff;
    text-shadow: none
}

details,
main {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

iframe {
    border: 0
}

.tawk-text-regular-1 {
    font-size: .75rem
}

.tawk-text-regular-1,
.tawk-text-regular-2 {
    color: #121212;
    font-weight: 400;
    line-height: 1.618
}

.tawk-text-regular-2 {
    font-size: .812rem
}

.tawk-text-regular-3 {
    color: #121212;
    font-size: .937rem;
    font-weight: 400;
    line-height: 1.618
}

.tawk-text-bold-1,
.tawk-text-regular-4 {
    color: #121212;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.618
}

.tawk-text-bold-2 {
    font-size: 1.093rem
}

.tawk-text-bold-2,
.tawk-text-bold-3 {
    color: #121212;
    font-weight: 600;
    line-height: 1.618
}

.tawk-text-bold-3 {
    font-size: 1.5rem
}

.tawk-text-bold-4 {
    color: #121212;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.618
}

.tawk-text-green-1 {
    color: #03a84e !important
}

.tawk-text-yellow-1 {
    color: #fdc20f !important
}

.tawk-text-red-1 {
    color: #bf1212 !important
}

.tawk-text-grey-1 {
    color: #121212 !important
}

.tawk-text-grey-2 {
    color: #212121 !important
}

.tawk-text-grey-3 {
    color: #242424 !important
}

.tawk-text-grey-4 {
    color: #545454 !important
}

.tawk-text-grey-5 {
    color: #6e6e6e !important
}

.tawk-text-grey-6 {
    color: #828282 !important
}

.tawk-text-grey-7 {
    color: #b2b2b2 !important
}

.tawk-text-grey-8 {
    color: #d4d4d4 !important
}

.tawk-text-grey-9 {
    color: #e5e5e5 !important
}

.tawk-text-grey-10 {
    color: #f5f5f5 !important
}

.tawk-text-grey-11 {
    color: #fafafa !important
}

.tawk-text-white {
    color: #fff !important
}

.tawk-text-bold {
    font-weight: 600
}

.tawk-text-italic {
    font-style: italic
}

.tawk-text-oblique {
    font-style: oblique
}

.tawk-text-underline {
    text-decoration: underline
}

.tawk-text-uppercase {
    text-transform: uppercase !important
}

.tawk-text-capitalize {
    text-transform: capitalize !important
}

.tawk-text-lowercase {
    text-transform: lowercase !important
}

.tawk-text-left {
    text-align: left !important
}

.tawk-text-right {
    text-align: right !important
}

.tawk-text-center {
    text-align: center !important
}

.tawk-text-justify {
    text-align: justify !important
}

body.tawk-rtl .tawk-text-left {
    text-align: right !important
}

body.tawk-rtl .tawk-text-right {
    text-align: left !important
}

@media screen and (min-width:640px) {
    .tawk-text-left\@s {
        text-align: left !important
    }
    .tawk-text-right\@s,
    body.tawk-rtl .tawk-text-left\@s {
        text-align: right !important
    }
    body.tawk-rtl .tawk-text-right\@s {
        text-align: left !important
    }
    .tawk-text-center\@s {
        text-align: center !important
    }
}

@media screen and (min-width:960px) {
    .tawk-text-left\@m {
        text-align: left !important
    }
    .tawk-text-right\@m,
    body.tawk-rtl .tawk-text-left\@m {
        text-align: right !important
    }
    body.tawk-rtl .tawk-text-right\@m {
        text-align: left !important
    }
    .tawk-text-center\@m {
        text-align: center !important
    }
}

@media screen and (min-width:1200px) {
    .tawk-text-left\@l {
        text-align: left !important
    }
    .tawk-text-right\@l,
    body.tawk-rtl .tawk-text-left\@l {
        text-align: right !important
    }
    body.tawk-rtl .tawk-text-right\@l {
        text-align: left !important
    }
    .tawk-text-center\@l {
        text-align: center !important
    }
}

@media screen and (min-width:1600px) {
    .tawk-text-left\@xl {
        text-align: left !important
    }
    .tawk-text-right\@xl,
    body.tawk-rtl .tawk-text-left\@xl {
        text-align: right !important
    }
    body.tawk-rtl .tawk-text-right\@xl {
        text-align: left !important
    }
    .tawk-text-center\@xl {
        text-align: center !important
    }
}

.tawk-text-top {
    vertical-align: top !important
}

.tawk-text-middle {
    vertical-align: middle !important
}

.tawk-text-bottom {
    vertical-align: bottom !important
}

.tawk-text-baseline {
    vertical-align: baseline !important
}

.tawk-text-nowrap {
    white-space: nowrap
}

.tawk-box-shadow-xsmall {
    box-shadow: 0 2px 3px rgba(0, 0, 0, .08)
}

.tawk-box-shadow-small {
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1)
}

.tawk-box-shadow-medium {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .12)
}

.tawk-box-shadow-large {
    box-shadow: 0 14px 25px rgba(0, 0, 0, .16)
}

.tawk-box-shadow-xlarge {
    box-shadow: 0 28px 50px rgba(0, 0, 0, .16)
}

.tawk-text-truncate {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.tawk-float-left {
    float: left !important
}

.tawk-float-right,
body.tawk-rtl .tawk-float-left {
    float: right !important
}

body.tawk-rtl .tawk-float-right {
    float: left !important
}

.tawk-inline {
    display: inline-block;
    max-width: 100%;
    position: relative;
    vertical-align: middle
}

.tawk-outline:focus-visible {
    border: 1px solid #06f !important;
    box-shadow: 0 0 0 1px rgba(0, 102, 255, .4) !important
}

.tawk-sr-only {
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap
}

.tawk-avatar {
    background-color: #efefef;
    border: 2px solid #fff;
    border-radius: 15px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 16px;
    height: 3rem;
    line-height: 2.75rem;
    overflow: hidden;
    text-align: center;
    width: 3rem
}

.tawk-avatar.tawk-avatar-count {
    background-color: #fff;
    background-color: var(--tawk-header-text-color);
    color: #03a84e;
    color: var(--tawk-header-background-color)
}

.tawk-avatar .tawk-avatar-image {
    line-height: 0
}

.tawk-avatar .tawk-avatar-image>img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%
}

.tawk-avatar-xsmall {
    font-size: .75rem;
    height: 2rem;
    line-height: 1.75rem;
    width: 2rem
}

.tawk-avatar-small {
    font-size: .812rem;
    height: 2.5rem;
    line-height: 2.25rem;
    width: 2.5rem
}

.tawk-avatar-medium {
    font-size: .937rem;
    height: 3.5rem;
    line-height: 3.25rem;
    width: 3.5rem
}

.tawk-avatar-large {
    font-size: 1.093rem;
    height: 4rem;
    line-height: 3.75rem;
    width: 4rem
}

.tawk-button {
    background-color: #03a84e;
    background-color: var(--tawk-header-background-color);
    border: 1px solid #03a84e;
    border-color: var(--tawk-header-background-color);
    border-radius: 8px;
    box-sizing: border-box;
    color: inherit;
    color: #fff;
    color: var(--tawk-header-text-color);
    display: inline-block;
    font: inherit;
    font-size: 16px;
    line-height: 1.5rem;
    margin: 0;
    overflow: hidden;
    padding: .6rem 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle
}

.tawk-button:not(.tawk-button-text) {
    box-shadow: 0 4px 4px 0 hsla(0, 0%, 51%, .08)
}

.tawk-button:not(:disabled) {
    cursor: pointer
}

.tawk-button:disabled {
    cursor: not-allowed;
    opacity: .7
}

.tawk-button::-moz-focus-inner {
    border: 0;
    padding: 0
}

.tawk-button:hover,
a.tawk-button:hover {
    text-decoration: none
}

a.tawk-button:hover {
    color: #fff;
    color: var(--tawk-header-text-color)
}

.tawk-button:focus-visible {
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.tawk-button:focus-visible {
    border: 1px solid #06f;
    box-shadow: 0 0 0 1px rgba(0, 102, 255, .4)
}

.tawk-button:active {
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.tawk-button-success {
    background-color: #03a84e;
    border: 1px solid #03a84e;
    color: colorYiq(#03a84e)
}

.tawk-button-danger {
    background-color: #f0505c;
    border: 1px solid #f0505c;
    color: colorYiq(#f0505c)
}

.tawk-button-outline,
a.tawk-button-outline:hover {
    background-color: #fff;
    background-color: var(--tawk-header-text-color);
    border-color: #03a84e;
    border-color: var(--tawk-header-background-color);
    color: #03a84e;
    color: var(--tawk-header-background-color)
}

.tawk-button-outline:hover {
    background-color: var(--tawk-header-background-color);
    color: var(--tawk-header-text-color)
}

.tawk-button-outline-success {
    border: 1.5px solid #03a84e;
    color: #03a84e
}

.tawk-button-outline-danger {
    border: 1.5px solid #f0505c;
    color: #f0505c
}

.tawk-button-dashed {
    background-color: #fff;
    border-style: dashed;
    color: #03a84e;
    color: var(--tawk-header-background-color)
}

.tawk-button-small {
    font-size: .812rem;
    line-height: 1.5rem;
    padding: .25rem 1rem
}

.tawk-button-large {
    font-size: .937rem;
    line-height: 1.5rem;
    padding: 1rem 2rem
}

.tawk-button-rounded {
    border-radius: 40px
}

.tawk-button-small.tawk-button-rounded {
    border-radius: 30px
}

.tawk-button-large.tawk-button-rounded {
    border-radius: 40px
}

.tawk-button-text {
    background: none;
    border: none;
    color: #03a84e;
    color: var(--tawk-header-background-color);
    line-height: 1.618;
    padding: 0
}

.tawk-button-text:focus-visible,
.tawk-button-text:hover {
    color: #03a84e;
    color: var(--tawk-header-background-color)
}

.tawk-button-text:active,
.tawk-button-text:focus-visible {
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.tawk-button-text:disabled {
    color: #212121 !important;
    cursor: not-allowed;
    outline: none
}

.tawk-button-group {
    display: inline-flex;
    position: relative;
    vertical-align: middle
}

.tawk-button-circle {
    border-radius: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0;
    width: 40px
}

.tawk-button-circle.tawk-button-small {
    height: 26px;
    line-height: 26px;
    width: 26px
}

.tawk-button-circle.tawk-button-large {
    height: 55px;
    line-height: 55px;
    width: 55px
}

.tawk-button-dashed .tawk-button-color-inverse,
.tawk-button-outline .tawk-button-color-inverse {
    border-color: #fff;
    border-color: var(--tawk-header-text-color);
    color: #fff;
    color: var(--tawk-header-text-color)
}

.tawk-button-text.tawk-button-color-inverse,
.tawk-button-text.tawk-button-color-inverse:focus,
.tawk-button-text.tawk-button-color-inverse:hover {
    color: #fff;
    color: var(--tawk-header-text-color)
}

.tawk-card {
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1.3rem;
    position: relative
}

.tawk-card,
.tawk-card-default {
    background-color: #f5f5f5;
    color: #242424
}

.tawk-card-inverse {
    background-color: #fff;
    color: #242424
}

.tawk-card-primary {
    background-color: #03a84e;
    background-color: var(--tawk-header-background-color);
    color: #fff;
    color: var(--tawk-header-text-color)
}

.tawk-card-xsmall {
    padding: .6rem
}

.tawk-card-small {
    padding: 1rem
}

.tawk-card-medium {
    padding: 2rem
}

.tawk-card-large {
    padding: 2.5rem
}

.tawk-emoji-picker {
    background: #fff;
    border: 1px solid #242424;
    border-radius: 10px;
    box-sizing: border-box;
    max-width: 19.875rem;
    min-height: 16.0625rem;
    position: relative;
    width: 100%
}

.tawk-emoji-group {
    border-bottom: 1px solid #242424
}

.tawk-emoji-group-tab {
    background: none;
    border: none;
    cursor: pointer;
    padding: .6rem;
    position: relative;
    transition: background-color .2s ease
}

.tawk-emoji-group-tab:hover {
    background: #fafafa
}

.tawk-emoji-group-tab-active {
    position: relative
}

.tawk-emoji-group-tab-active:after {
    background: #03a84e;
    bottom: 0;
    content: "";
    height: .125rem;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 80%
}

.tawk-emoji-group-icon {
    display: inline-block;
    font-size: 1.125rem
}

.tawk-emoji-search-container {
    box-sizing: border-box;
    padding: 1rem .5rem
}

.tawk-emoji-search-input {
    border: 1px solid #242424;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    font-size: fontSize(small);
    height: 2rem;
    padding: .5rem;
    width: 100%
}

.tawk-emoji-search-input:focus {
    outline: 1px solid #06f
}

.tawk-emoji-sticky-header {
    background: #fff;
    padding: 0 .5rem;
    position: sticky;
    top: 0;
    z-index: 1
}

.tawk-emoji-header,
.tawk-emoji-sticky-header {
    color: #121212;
    font-family: Lato, sans-serif;
    font-size: fontSize(small);
    font-weight: fontWeight(regular);
    margin: 0
}

.tawk-emoji-scroll {
    box-sizing: border-box;
    height: 12rem;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 .5rem;
    position: relative
}

.tawk-emoji-category {
    margin-bottom: .5rem
}

.tawk-emoji-grid {
    display: flex;
    flex-wrap: wrap;
    gap: .1rem
}

.tawk-emoji {
    align-items: center;
    background: none;
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.25rem;
    height: 2rem;
    justify-content: center;
    margin: .2rem;
    padding: .3rem;
    transition: background-color .15s ease;
    width: 2rem
}

.tawk-emoji:hover {
    background: #f5f5f5
}

.tawk-emoji:focus {
    outline: 1px solid #06f
}

.tawk-emoji .emojione,
.tawk-emoji img {
    display: inline-block;
    height: 1.5rem;
    max-height: 1.5rem;
    max-width: 1.5rem;
    vertical-align: middle;
    width: 1.5rem
}

.tawk-emoji-group-tab img {
    height: 1.125rem;
    max-height: 1.125rem;
    max-width: 1.125rem;
    width: 1.125rem
}

.tawk-emoji-no-results {
    color: #6e6e6e;
    display: block;
    font-size: fontSize(small);
    padding: 1rem;
    text-align: center
}

.tawk-emoji-renderer {
    display: inline;
    line-height: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.tawk-emoji-only {
    font-size: 1.5em;
    line-height: 1.2
}

.tawk-icon {
    color: inherit;
    display: inline-block;
    font-size: 1.093rem;
    height: 1em;
    line-height: 1;
    margin: 0 .2em;
    vertical-align: middle;
    width: 1em
}

.tawk-icon [fill]:not([fill=none]) {
    fill: currentColor
}

.tawk-icon [stroke]:not([stroke=none]) {
    stroke: currentColor
}

body.tawk-rtl .tawk-icon {
    transform: scaleX(-1)
}

.tawk-icon-xsmall {
    font-size: .75rem
}

.tawk-icon-small {
    font-size: .812rem
}

.tawk-icon-medium {
    font-size: .937rem
}

.tawk-icon-large {
    font-size: 1.093rem
}

.tawk-icon-xlarge {
    font-size: 1.5rem
}

.tawk-icon-xxlarge {
    font-size: 2rem
}

.tawk-image {
    border-radius: 10px;
    max-width: 100%
}

.tawk-image-left {
    text-align: left
}

.tawk-image-right {
    text-align: right
}

.tawk-image-center {
    text-align: center
}

.tawk-image-loader,
.tawk-image-loader:after {
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem
}

.tawk-image-loader {
    animation: tawk-image-spin 1.1s linear infinite;
    border: 5px solid #212121;
    border-left-color: #242424;
    font-size: .625rem;
    margin: 1.25rem auto;
    position: relative;
    text-indent: -9999rem;
    transform: translateZ(0)
}

@keyframes tawk-image-spin {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

@media(prefers-reduced-motion:reduce) {
    .tawk-image-loader {
        animation: none
    }
}

.tawk-chat-bubble {
    background-color: #e5e5e5;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000;
    padding: .75rem;
    position: relative
}

.tawk-chat-bubble.tawk-active {
    background-color: #03a84e;
    color: #fff
}

.tawk-chat-bubble.tawk-active .tawk-timeago {
    color: #fff
}

.tawk-chat-bubble>* {
    margin-bottom: .5rem;
    margin-top: .5rem
}

.tawk-chat-bubble>:first-child {
    margin-top: 0
}

.tawk-chat-bubble>:last-child {
    margin-bottom: 0
}

.tawk-chat-bubble .tawk-link,
.tawk-chat-bubble a {
    cursor: pointer;
    text-decoration: underline
}

.tawk-chat-bubble ol,
.tawk-chat-bubble ul {
    list-style-position: inside
}

.tawk-chat-bubble ul {
    list-style-type: disc
}

.tawk-chat-bubble ul>ul {
    list-style-type: circle;
    padding-left: 1rem
}

.tawk-chat-bubble ul>ul>ul {
    list-style-type: square;
    padding-left: 1rem
}

.tawk-chat-bubble ul>ul>ul>ul {
    list-style-type: disc;
    padding-left: 1rem
}

.tawk-chat-bubble ul>ul>ul>ul>ul {
    list-style-type: circle;
    padding-left: 1rem
}

.tawk-chat-bubble ol {
    list-style-type: decimal
}

.tawk-chat-bubble ol>ol {
    list-style-type: lower-alpha;
    padding-left: 1rem
}

.tawk-chat-bubble ol>ol>ol {
    list-style-type: lower-roman;
    padding-left: 1rem
}

.tawk-chat-bubble ol>ol>ol>ol {
    list-style-type: decimal;
    padding-left: 1rem
}

.tawk-chat-bubble ol>ol>ol>ol>ol {
    list-style-type: lower-alpha;
    padding-left: 1rem
}

.tawk-chat-bubble blockquote {
    font-style: normal;
    padding-left: .8rem;
    position: relative
}

.tawk-chat-bubble blockquote:after,
.tawk-chat-bubble blockquote:before {
    background-color: #121212;
    border-radius: 3px;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 3px
}

.tawk-chat-bubble code {
    box-sizing: border-box;
    padding: .3rem
}

.tawk-chat-bubble code,
.tawk-chat-bubble pre {
    background-color: hsla(0, 0%, 100%, .188);
    border: 1px solid #b2b2b2;
    border-radius: 4px;
    color: #121212;
    color: var(--tawk-visitor-text-color)
}

.tawk-chat-bubble pre {
    padding: .5rem
}

.tawk-chat-bubble .tawk-icon {
    color: #03a84e
}

.tawk-chat-bubble.tawk-active .tawk-icon,
.tawk-chat-bubble.tawk-active .tawk-link,
.tawk-chat-bubble.tawk-active a {
    color: #fff
}

.tawk-chat-bubble ul[class^=tawk-chat-bubble-] {
    list-style: none;
    margin-left: 0;
    padding: 0
}

.tawk-chat-bubble-images {
    display: grid;
    gap: 4px 4px;
    grid-auto-rows: auto;
    grid-template-columns: repeat(6, 1fr)
}

.tawk-chat-bubble-images li>div {
    height: 100%;
    width: 100%
}

.tawk-chat-bubble-images li .tawk-image,
.tawk-chat-bubble-images li>img {
    border-radius: 4px;
    cursor: pointer;
    height: 100%;
    max-width: none;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%
}

.tawk-grid-1>li {
    grid-area: 1/1/2/7;
    height: 250px;
    width: 100%
}

.tawk-grid-2>li:first-child {
    grid-area: 1/1/2/4;
    height: 125px;
    width: 100%
}

.tawk-grid-2>li:nth-child(2) {
    grid-area: 1/4/2/7;
    height: 125px;
    width: 100%
}

.tawk-grid-3>li:first-child {
    grid-area: 1/1/2/7;
    height: 150px;
    width: 100%
}

.tawk-grid-3>li:nth-child(2) {
    grid-area: 2/1/3/4;
    height: 100px;
    width: 100%
}

.tawk-grid-3>li:nth-child(3) {
    grid-area: 2/4/3/7;
    height: 100px;
    width: 100%
}

.tawk-grid-4>li:first-child {
    grid-area: 1/1/2/4;
    height: 125px;
    width: 100%
}

.tawk-grid-4>li:nth-child(2) {
    grid-area: 1/4/2/7;
    height: 125px;
    width: 100%
}

.tawk-grid-4>li:nth-child(3) {
    grid-area: 2/1/3/4;
    height: 125px;
    width: 100%
}

.tawk-grid-4>li:nth-child(4) {
    grid-area: 2/4/3/7;
    height: 125px;
    width: 100%
}

.tawk-grid-5>li:first-child {
    grid-area: 1/1/2/4;
    height: 125px;
    width: 100%
}

.tawk-grid-5>li:nth-child(2) {
    grid-area: 1/4/2/7;
    height: 125px;
    width: 100%
}

.tawk-grid-5>li:nth-child(3) {
    grid-area: 2/1/3/3;
    height: 85px;
    width: 100%
}

.tawk-grid-5>li:nth-child(4) {
    grid-area: 2/3/3/5;
    height: 85px;
    width: 100%
}

.tawk-grid-5>li:nth-child(5) {
    grid-area: 2/5/3/7;
    height: 85px;
    width: 100%
}

.tawk-chat-bubble-videos li {
    border-radius: 4px;
    overflow: hidden
}

.tawk-chat-bubble-audios audio {
    border-radius: 4px;
    display: block;
    height: 40px;
    width: 100%
}

.tawk-chat-bubble-files li {
    margin-bottom: .5rem
}

.tawk-chat-bubble-files li:last-child {
    margin-bottom: 0
}

.tawk-chat-bubble-audios li a,
.tawk-chat-bubble-files li a {
    border-bottom: 1px solid #fff;
    border-color: var(--var-header-text-color);
    text-decoration: none
}

.tawk-chat-bubble-audios li a:hover,
.tawk-chat-bubble-files li a:hover {
    text-decoration: none
}

.tawk-chat-bubble-audios li i,
.tawk-chat-bubble-files li i {
    margin-top: 1px;
    transform: rotate(-45deg)
}

.tawk-suggested-messages {
    display: flex;
    flex-direction: column
}

.tawk-suggested-messages-option {
    display: flex;
    justify-content: end
}

.tawk-suggested-messages .tawk-suggested-messages-option {
    margin-bottom: .5rem
}

.tawk-suggested-messages .tawk-suggested-messages-option:last-child {
    margin-bottom: 0
}

.tawk-suggested-messages-option .tawk-button {
    background-color: #f5f5f5;
    background-color: var(--tawk-header-text-color);
    border: 1px solid var(--tawk-header-background-color);
    color: #121212;
    color: var(--tawk-header-background-color);
    font-size: .875rem !important;
    padding: .3rem 1rem
}

.tawk-suggested-messages-option .tawk-button:hover {
    background-color: #242424;
    background-color: var(--tawk-header-background-color);
    border: 1px solid var(--tawk-header-background-color);
    color: #121212;
    color: var(--tawk-header-text-color)
}

.tawk-chatinput {
    box-sizing: border-box;
    padding: 0;
    position: relative;
    width: 100%
}

.tawk-chatinput-emojis {
    bottom: 100%;
    left: auto;
    margin: 0 auto .25rem;
    max-width: 19.875rem;
    position: absolute;
    right: 0;
    top: auto;
    width: 100%;
    z-index: 2
}

.tawk-chatinput-emojis .tawk-emoji-picker {
    margin: 0 auto;
    width: 100%
}

.tawk-chatinput-fileupload {
    box-sizing: border-box;
    padding: .6rem
}

.tawk-chatinput-fileupload-list {
    list-style: none;
    margin: 0;
    padding: 0
}

.tawk-chatinput-fileupload-input,
.tawk-chatinput-fileupload-preview {
    height: 3.125rem;
    margin-right: .625rem;
    width: 3.125rem
}

.tawk-chatinput-fileupload-preview {
    background: #f5f5f5;
    border-radius: 10px;
    padding: 0;
    position: relative
}

.tawk-chatinput-fileupload-preview .tawk-icon {
    color: #212121
}

.tawk-chatinput-fileupload-preview img {
    border-radius: 10px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%
}

.tawk-chatinput-fileupload-input {
    background: #f5f5f5;
    border-radius: 10px;
    cursor: pointer
}

.tawk-chatinput-fileupload-input .tawk-icon-add {
    color: #212121
}

.tawk-chatinput-fileupload-input:hover {
    cursor: pointer
}

.tawk-chatinput-fileupload input {
    box-sizing: border-box;
    display: none
}

.tawk-chatinput-editor {
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    font: fontWeight(regular) fontSize(small) Lato, sans-serif;
    height: 1rem;
    margin: .15rem 0 0;
    max-height: 9.375rem;
    max-width: 100%;
    min-height: 1rem;
    outline: none;
    overflow: hidden;
    padding: 0 5.5rem 0 0;
    resize: none;
    width: 100%
}

.tawk-chatinput-action-buttons {
    position: absolute;
    right: 0;
    top: 0
}

.tawk-chatinput-action-buttons.active {
    right: 2rem;
    transition: all .1s ease
}

.tawk-chatinput-button {
    background: none;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #212121;
    display: inline-block;
    padding: 0;
    position: relative;
    width: 1.8rem
}

.tawk-chatinput-button.tawk-chatinput-focused {
    color: #121212
}

.tawk-chatinput-button:hover {
    cursor: pointer
}

.tawk-chatinput-button:focus {
    outline: none
}

.tawk-chatinput-button.active .tawk-chatinput-ratings {
    opacity: 1;
    width: 3.8125rem
}

.tawk-chatinput-button.active .tawk-chatinput-rating {
    opacity: 0
}

.tawk-chatinput-rating {
    transition: opacity 1s ease-in-out
}

.tawk-chatinput-ratings {
    background: #fff;
    bottom: -10px;
    box-sizing: border-box;
    height: 2.5rem;
    overflow: hidden;
    position: absolute;
    right: 0;
    transition: all .3s ease;
    white-space: nowrap;
    width: 0;
    z-index: 1
}

.tawk-chatinput-ratings input {
    display: none
}

.tawk-chatinput-rate {
    background: none;
    border: 0;
    display: inline-block;
    padding: 0
}

.tawk-chatinput-rate:hover {
    cursor: pointer;
    transform: scale(1.4)
}

.tawk-chatinput-ratings-thumbs-down {
    color: #bf1212
}

.tawk-chatinput-ratings-thumbs-up {
    color: #03a84e
}

.tawk-chatinput-send-container {
    position: absolute;
    right: 0;
    top: 0
}

.tawk-chatinput-send {
    background: transparent;
    border: 1px solid transparent;
    color: #03a84e;
    padding: 0;
    width: 1.8rem
}

.tawk-chatinput-send:hover {
    cursor: pointer
}

.tawk-chatinput-send:focus {
    outline: 1px solid #06f
}

.tawk-chatinput-file-remove {
    background: #fff;
    border: 1px solid #bf1212;
    border-radius: 50%;
    cursor: pointer;
    height: .875rem;
    position: absolute;
    right: -6px;
    top: -6px;
    width: .875rem
}

.tawk-chatinput-file-remove .tawk-icon-close {
    color: #bf1212;
    font-size: .375rem
}

.tawk-chatinput-wrap {
    position: relative
}

.tawk-rtl .tawk-chatinput-editor {
    padding: 0 0 0 5.5rem
}

.tawk-rtl .tawk-chatinput-action-buttons {
    left: 0;
    right: auto
}

.tawk-rtl .tawk-chatinput-action-buttons.active {
    left: 30px
}

.tawk-rtl .tawk-chatinput-emojis,
.tawk-rtl .tawk-chatinput-ratings,
.tawk-rtl .tawk-chatinput-send-container {
    left: 0;
    right: auto
}

.tawk-tooltip:focus-within .tawk-tooltip-hover,
.tawk-tooltip:hover .tawk-tooltip-hover {
    opacity: 1;
    transition: opacity .5s linear .5s
}

.tawk-tooltip .tawk-tooltip-hover.tawk-tooltip-hidden {
    opacity: 0 !important;
    transition: opacity 0s linear
}

.tawk-tooltip .tawk-tooltip-hover {
    background: #121212;
    border-radius: 5px;
    color: #fff;
    font-size: .75rem;
    left: auto;
    margin-top: 8px;
    opacity: 0;
    padding: 4px 8px;
    position: fixed;
    right: 0;
    text-align: center;
    transition: opacity 0s linear;
    z-index: 2
}

.tawk-tooltip .tawk-tooltip-hover .tawk-tooltip-arrow {
    border: 8px solid transparent;
    border-bottom-color: #121212;
    display: block;
    left: 50%;
    position: absolute;
    top: -16px
}

.tawk-tooltip .tawk-tooltip-hover.bottom .tawk-tooltip-arrow {
    border-color: #121212 transparent transparent;
    bottom: -16px;
    top: auto
}

.tawk-message-preview {
    cursor: pointer;
    height: 100%;
    margin-top: -4px;
    overflow: visible
}

.tawk-chat-bubble.tawk-message-preview-chat-bubble {
    background-color: initial;
    border-radius: initial;
    color: initial;
    padding: 0
}

.tawk-message-preview-content {
    margin-left: 1px;
    width: calc(100% - 2px)
}

.tawk-message-preview-content .tawk-message-box {
    margin-bottom: 15px
}

.tawk-message-preview-content .tawk-message-box:last-child {
    margin-bottom: 1px
}

.tawk-message-preview-content .tawk-message {
    background-color: #fff;
    width: calc(100% - 3.3rem)
}

.tawk-message-preview-content .tawk-message.tawk-suggested-messages {
    background-color: initial;
    border: initial
}

.tawk-message-preview-content .tawk-avatar {
    background-color: #fff
}

.tawk-message-container {
    overflow: auto
}

.tawk-chatinput {
    padding-bottom: 0;
    padding-top: 0
}

.tawk-chatinput-container {
    background-color: #fff;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 2px;
    margin-top: 15px;
    padding: 1rem;
    width: calc(100% - 3.3rem)
}

.tawk-chatinput-container.has-dragover {
    min-height: 100px
}

body.tawk-rtl .tawk-chatinput-container {
    margin-left: 2px;
    margin-right: auto
}

.tawk-message-preview-close {
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    height: 25px;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 8px;
    padding: 0;
    text-align: center;
    width: 25px
}

body.tawk-rtl .tawk-message-preview-close {
    margin-left: 0;
    margin-right: auto
}

.tawk-has-avatar:after,
.tawk-has-avatar:before {
    border: solid transparent;
    bottom: 10px;
    content: "";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    width: 0
}

.tawk-has-avatar:after {
    border-right-color: #fff;
    border-width: 7px;
    bottom: 13px
}

.tawk-has-avatar:before {
    border-right-color: #fff;
    border-width: 10px
}

.tawk-rtl .tawk-has-avatar:after,
.tawk-rtl .tawk-has-avatar:before {
    left: 100%;
    right: unset
}

.tawk-rtl .tawk-has-avatar:after {
    border-left-color: #fff
}

.tawk-rtl .tawk-has-avatar:before {
    border-left-color: #fff;
    border-right-color: transparent
}

.emojione {
    height: 1rem;
    min-height: auto;
    min-width: auto;
    vertical-align: text-bottom
}

.emojionly .emojione {
    height: 4.5ex !important;
    width: auto
}

video {
    border-radius: 5px
}

.tawk-dragover-container {
    align-items: center;
    background-color: hsla(0, 0%, 100%, .8);
    border-radius: 5px;
    bottom: 0;
    color: #121212;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1
}

.tawk-call-container {
    height: auto !important
}

.tawk-call-card {
    height: 180px
}

.tawk-call-card .tawk-call {
    padding: 20px;
    position: absolute
}

.tawk-call-card.tawk-message-box {
    margin-bottom: 1px !important
}

.list-enter-active {
    transition: all 1s linear;
    transition-delay: .3s
}

.list-enter {
    opacity: 0;
    transform: translateY(20px)
}

.list-leave-active {
    transition: all .3s ease-in
}

.list-leave-to {
    opacity: 0;
    transform: translateY(-20px)
}

.tawk-message-preview .tawk-link {
    color: inherit;
    text-decoration: underline
}

.tawk-chatinput .tawk-chatinput-editor {
    color: #333
}

.slide-fade-enter-active {
    transition: all .2s ease
}

.slide-fade-leave-active {
    position: absolute;
    transition: all .1s cubic-bezier(1, .5, .8, 1)
}

.slide-fade-enter,
.slide-fade-leave-to {
    opacity: 0;
    transform: translateY(-10px)
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}

.tawk-fadeIn {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    opacity: 1
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@media(prefers-reduced-motion:reduce) {
    .fade-enter-active,
    .fade-leave-active,
    .list-enter-active,
    .list-leave-active,
    .list-move,
    .slide-fade-enter-active,
    .slide-fade-leave-active {
        transition: none !important
    }
    .tawk-fadeIn {
        animation: none !important;
        opacity: 1 !important
    }
    .tawk-max-slide-enter-active,
    .tawk-max-slide-leave-active {
        transition: none !important
    }
    .agentTypingIndicator .dot {
        animation: none !important
    }
    .tawk-dropdown-container .tawk-form-label,
    .tawk-form-submitting-container .tawk-form-submitting-inner,
    .tawk-toolbar {
        transition: none !important
    }
}